#content{
    font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serief;
    color:crimson;
    min-width: 550px;
    max-width: 60%;
    margin: 0 auto;
}

a.acticve {
    color: orange;
}

nav{
    padding-top: 20px;
}